<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manusunny.fingerlock" >

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.lock.PatternSetActivity" />
        <activity android:name=".activity.lock.PatternConfirmActivity" />
        <activity android:name=".activity.settings.SettingsActivity" />
        <activity android:name=".activity.lock.PinActivity" />
        <activity android:name=".activity.lock.LockActivity" />

        <activity
            android:name=".activity.InstalledAppsActivity"
            android:label="@string/installed_apps" />

        <activity
            android:name=".activity.AppDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".service.AppLockService"
            android:exported="false" />

    </application>

</manifest>
